<div role="navigation">
  <ul class="nav nav-pills">
    <li><%= link_to "home", root_path, role: "presentation" %></li>
    <li><%= link_to "about", pages_about_path, role: "presentation"  %></li>
    <li><%= link_to "help", pages_help_path, role: "presentation" %></li>
    <li><%= link_to "contact", pages_contact_path, role: "presentation" %></li>

  </ul>
</div>
